@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   
}
#upper_header {
    background-color: #ffd964 !important;
    color: #372a28 !important;
}
#upper_header h1 {
    font-size: 5rem !important;
    font-family: "Arbutus Slab", serif !important;
}
#upper_header #home_icon {
    position: absolute;
    left: 20px;
    top: 40px;
    font-size: 2rem !important;
}
#home_icon a .bi {
    color: #372a28 !important;
}
#lower_header{
    background-color: #99650d !important;
    color: #ffffff !important;
    height: 54px !important;
}
#navbarNav li a{
    color: #ffffff !important;
    font-size: 1.8rem !important;
    flex-direction: row !important;
}
#navbarNav .navbar-nav {
    display: flex;
    justify-content: space-evenly; 
    width: 100%;
}

#footer {
    background-color: #99650d !important;
    height: 100px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-shrink: 0;
    margin-top: 0 !important;
    padding: 0 !important;
}
#Social li a{ 
    color: #ffffff !important;
    font-size: 1.8rem !important;
}
#Social .Social-list {
    display: flex !important;
    justify-content: space-evenly; /* even spread inside 50% space */
    align-items: center;
    gap: 1.5rem; 
    list-style: none; 
    padding: 0;               
    margin: 0;
    width: 100% !important;
}

#mainBody {
    flex: 1 0 auto;
    background-color: #372a28 !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    color: #fff4ea !important;
    
}

#mainBody.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
#mainBody h1 {
    font-size: 133px !important;
    font-family: "Arbutus Slab", serif !important;
    font-weight: 500 !important;
    margin-left: 10% !important;
}
#mainBody #aboutWebsite  {
    font-size: 42px !important;
    font-family: "Arbutus Slab", serif !important;
    font-weight: 200 !important;
    margin-left: 13% !important;
    margin-right: 24% !important;
}
#mainBody h5 {
    font-size: 86px !important;
    font-family: "barlow", serif !important;
    font-weight: 200 !important;
    margin-left: 10% !important;
}

/* Home page */
#mainBody #aboutMe {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
}
#mainBody #aboutMeText {
    font-size: 30px !important;
    font-family: "arbutus slab", serif !important;
    font-weight: 50 !important;
    margin-left: 13% !important;
    margin-right: 13% !important;
    margin-top: 20px !important;
}
#mainBody #aboutMeImage {
    display: flex !important;
    justify-content: center !important;
    margin-top: -100px !important;
}
#mainBody #aboutFeature {
    font-size: 29px !important;
    font-family: "Arbutus Slab", serif !important;
    font-weight: 60 !important;
    margin-left: 13% !important;
    margin-right: 24% !important;
}
/* ToDo Page */
#mainBody #todoForm {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 80% !important;
    /*height: 70vh !important;*/
    margin: 0 auto !important; 
    background-color: #fff4ea !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    margin-bottom: 50px !important;
    padding-bottom: 20px !important;
}
#mainBody #todoListContainer #searchBarAndButton{
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    width: 60% !important;
    margin: 20px auto !important;
    font-size: 24px !important;
    font-family: "Arbutus Slab", serif !important;
    padding: 10px !important;
}
#mainBody #todoListContainer #taskInput{
    border: 2px solid #372a28 !important;
    border-radius: 5px !important;
    margin-bottom: 20px !important;
    color: #372a28 !important;
}
#mainBody #todoListContainer #addTaskButton {
    border: 2px solid #372a28 !important;
    border-radius: 5px !important;
    margin-bottom: 20px !important;
    background-color: #372a28 !important;
    color: #fff4ea !important;
}
#mainBody #todoListTasks #taskList{
    padding: 0 !important;
    margin: 0 !important;
    margin-left: 50px !important;
    font-size: 28px !important;
    font-family: "Arbutus Slab", serif !important;
    color: #372a28 !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 10px !important;
}
#mainBody #deleteAllTask #clearTasksButton{
    border: 2px solid #372a28 !important;
    border-radius: 5px !important;
    margin-bottom: 20px !important;
    background-color: #372a28 !important;
    color: #fff4ea !important;
    height: auto !important;
    margin-top: 20px !important;
}
/* clock page */
#Clock {
    color: #e2e6e7;
    font-family: 'Lato', sans-serif;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #161515;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    height: 120px;
    width: 500px;
    border-width: 4px;
    border-style: solid;
    border-radius: 1000px;
}
.time {
    letter-spacing: 0.05em;
    font-size: 80px;
}
/* calculator page */
#mainBody #Calculator {
  height: 410px;
  width: 300px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  background-color: #dfd8d0;
  border: 2px solid #908b85;
  border-radius: 20px;
  box-shadow: 7px 10px 34px 1px rgba(0, 0, 0, 0.68), inset -1px -6px 12px 0.1px #89847e;
}
#mainBody #Calculator #title {
  padding-top: 10px;
  padding-bottom: 10px;
}
#mainBody #Calculator #entryBox {
  width: 85%;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #b4b39d;
  border-radius: 6px;
  background-color: #c3c2ab;
}
#mainBody #Calculator #entryBox #entry {
  text-align: right;        
  padding-right: 10px;
  font-size: 30px;
}
#mainBody #Calculator #butttons {
  font-size: 16px;
  font-weight: bold;
  color: #fff !important;
  position: absolute;
  display: inline-block;
  width: 280px;
  height: auto;
  margin-top: 15px;
  margin-left: 15px;
}

#mainBody #Calculator button {
  border-radius: 8px;
  border: none;
  background-color: #3a3a3a;
  margin: 0 4px 10px 8px;
  height: 40px;
  width: 50px;
  box-shadow: 0px 3px 0px 0px #222121, inset -1px -3px 10px 1px #515151;
}
#mainBody #Calculator #butttons #zeroButton {
  width: 117px;
  margin-left: -60px
}
#mainBody #Calculator button:active {
  transform: translate(0px, 3px);
  box-shadow: none;
}

#mainBody #Calculator #butttons #equalButton {
  position: absolute;
  margin-left: 12px;
  margin-top: -50px;
  height: 90px;
}
#mainBody #Calculator #butttons #delete {
  width: 117px;
  margin-left: 10px !important;
}
#mainBody #Calculator #butttons .red {
  font-size: 14px;
  background-color: #a72d45;
  box-shadow: 0px 3px 0px 0px #671c2a;
}

button,
button:hover,
button:active,
button:visited {
  text-decoration: none !important;
  outline: none !important;
}

a,
a:hover,
a:active,
a:visited {
  color: #922031;
  text-decoration: none !important;
  outline: none !important;
}

#mainBody #Calculator #entryBox #history {
  /*transform: translate(-13px, -17px);*/
  position: relative;
  height: 10px;
  bottom: 17px;
  color: #8b8b7b;
  font-size: 12px;
  text-align: right;          
  padding-right: 10px;
  margin-top: -5px;
}

#mainBody #weatherAppContainer {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 80% !important;
    /*height: 70vh !important;*/
    margin: 0 auto !important; 
    background-color: #fff4ea !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    margin-bottom: 50px !important;
    padding-bottom: 20px !important;
}
#mainBody #weatherbpdy #weatherAppContainer #wheaterSubHeading {
    font-size: 36px !important;
    font-family: "Arbutus Slab", serif !important;
    font-weight: 500 !important;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    color: #372a28 !important;
}
#mainBody #weatherbpdy #wheaterHr {
    width: 100% !important;
    height: 2% !important;
    color: #000000 !important;
    margin-bottom: 20px !important;

}
#mainBody #weatherbpdy #wheaterHr2 {
    width: 100% !important;
    height: 2% !important;
    color: #000000 !important;
    margin-bottom: 20px !important;

}
#mainBody #weatherbpdy #weatherResult {
    font-size: 35px !important;
    font-family: "Arbutus Slab", serif !important;
    font-weight: 500 !important;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    color: #372a28 !important;
}
#mainBody #weatherbpdy #weatherIcon {
    width: 200px !important;
    height: 200px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px !important;
}
#mainBody #weatherbpdy #tempNow {
    font-size: 65px !important;
    font-family: "Arial", serif !important;
    font-weight: 1000 !important;
    margin-top: -50px !important;
    color: #372a28 !important;
    text-align: center !important;
}
#mainBody #weatherbpdy #conditionNow {
    font-size: 40px !important;
    font-family: "Arial", serif !important;
    font-weight: 300 !important;
    margin-top: -30px !important;
    color: #372a28 !important;
    text-align: center !important;
}
#mainBody #weatherbpdy #locationNow {
    font-size: 20px !important;
    font-family: "Arial", serif !important;
    font-weight: 500 !important;
    margin-top: -10px !important;
    color: #372a28 !important;
    text-align: center !important;
}
#mainBody #weatherbpdy #localTimeNow {
    font-size: 20px !important;
    font-family: "Arial", serif !important;
    font-weight: 400 !important;
    margin-top: 10px !important;
    color: #372a28 !important;
    text-align-last: right;
}
#mainBody #weatherbpdy #weatherForm {
    display: flex !important;
    flex-direction: column !important;
    width: 80% !important;
    margin: 0 auto !important; 
    margin-bottom: 20px !important;
}
#mainBody #weatherbpdy #weatherTable {
    font-size: 24px !important;
    font-family: "Arbutus Slab", serif !important;
    border-radius: 5px !important;
    margin-bottom: 10px !important;
    color: #372a28 !important;
    margin-left: auto;
    margin-right: auto;
}
#mainBody #weatherbpdy #weatherTable th, #mainBody #weatherbpdy #weatherTable td {
    border: 1px solid #372a28 !important;
    padding: 10px !important;
    text-align: center !important;
}